In [1]:
import pandas as pd
import glob

In [2]:
# folders are the databases folders, there should be a folder for each database in use in the current repo directory
folders = glob.glob('???')
pivots_o = []
pivots_f = []
pivots_g = []

In [3]:
folders

['AGP', 'ptb', 't2d', 'ibd']

In [4]:
# pivots are the files for normalized csv data that were generated before

for f in folders :
    pivots_o += glob.glob(f + '/' + 'pivot_o_normalized.csv')
    pivots_f += glob.glob(f + '/' + 'pivot_f_normalized.csv')
    pivots_g += glob.glob(f + '/' + 'pivot_g_normalized.csv')

In [5]:
glob.glob(f + '/' + 'pivot_g_normalized.csv')

['ibd/pivot_g_normalized.csv']

In [6]:
# displaying list of normalized pivot tables from all databases directories

pivots_g

['AGP/pivot_g_normalized.csv',
 'ptb/pivot_g_normalized.csv',
 't2d/pivot_g_normalized.csv',
 'ibd/pivot_g_normalized.csv']

In [7]:
frames_o = []
frames_f = []
frames_g = []

In [8]:
# adding all the normalized data to a list of frames for each taxonomic level (one database for each list node)

for p in pivots_o :
    frames_o.append(pd.read_csv(p, sep = ';'))
for p in pivots_f :
    frames_f.append(pd.read_csv(p, sep = ';'))
for p in pivots_g :
    frames_g.append(pd.read_csv(p, sep = ';'))

/media/hpc2_storage/ibulygin/miniconda3/envs/fresh/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
for p in pivots_o:
    print(pd.read_csv(p).shape[0])

9511
3457
1044
86

In [10]:
# merging all the lists to single dataframes
# columns are the union of columns of the frames from each database, sorted in alphabetical order
# note that now rows are also sorted alphabetically, so some of the databases are not stored sequentially

key= frames_o[0].columns[0]
result_o = frames_o[0]
for df_o in frames_o[1:4] :
    result_o = pd.merge(result_o, df_o, how = 'outer', sort=True)
    
key= frames_f[0].columns[0]
result_f = frames_f[0]
for df_f in frames_f[1:4] :
    result_f = pd.merge(result_f, df_f, how = 'outer', sort=True)
    
key= frames_g[0].columns[0]
result_g = frames_g[0]
for df_g in frames_g[1:4] :
    result_g = pd.merge(result_g, df_g, how = 'outer', sort=True)

In [11]:
result_g

,Unnamed: 0,g__,g__1-68,g__5-7N15,g__A17,g__A55_D21,g__AF12,g__Abiotrophia,g__Acanthamoeba,g__Acetobacter,...,g__Frigoribacterium,g__Gluconacetobacter,g__Lupinus,g__Marinilactibacillus,g__Podophyllum,g__Pseudochrobactrum,g__Robinsoniella,g__Serinicoccus,g__Victivallis,g__Zea
0,10317,0.172942,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10317,0.210410,0.000588,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10317,0.288716,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10317,0.416667,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10317,0.482564,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14093,MSM5LLIO,0.187640,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14094,MSM5LLIQ,0.403338,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14095,MSM5ZOJY,0.523932,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14096,MSM633FF,0.153703,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14097,otu_table,0.433337,0.000000,NaN,NaN,NaN,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000187,0.0

In [12]:
# filling the missing data with zeros (replacing None values created when new columns were added  by 0)

result_o.fillna(0, inplace = True)
result_f.fillna(0, inplace = True)
result_g.fillna(0, inplace = True)

In [13]:
# storaging the merged dataframes to the csv tables

result_o.to_csv('./datasets_data/pivot_o.csv', sep=';', index=False)
result_f.to_csv('./datasets_data/pivot_f.csv', sep=';', index=False)
result_g.to_csv('./datasets_data/pivot_g.csv', sep=';', index=False)